   <div class="container container-nav logo setup channels">
    <h2 class="align-text-bottom">chat</h2><img src="img/chat.png">
  </div>
   <div class="container setup">


   <div class="container setup">

      <div class="center"> <h4>Choose a channel:</h4> </div>
 
 <ul class="list-group" *ngIf="data">
 <li class="list-group-item justify-content-between" *ngFor="let channel of data">
    <span class="nav-link" href="#" (click)="chooseChannel(channel)"> {{channel.ch_name}} </span>
      <span class="badge badge-default badge-pill">{{channel.count}}</span>
  </li> 
</ul> 

   </div>

<div id="copyright"><a href="http://www.freepik.com">Background Designed by Harryarts / Freepik</a></div>