  <div class="container container-nav logo setup">
    <h2 class="align-text-bottom">chat</h2><img src="img/chat.png">
  </div>
   <div class="container setup">

    <div class="center"> <h4>Pick a nick:</h4> </div>

      <div class="input-group">
        <form #userForm="ngForm" (ngSubmit)="setUsername(userForm.value)" class="form-inline">
        <input type="text" class="form-control" placeholder="" name="name" [(ngModel)]="user.name" required pattern="[a-zA-Z ()_^äöåÄÖÅ0-9]*">

          <button class="btn btn-secondary" type="submit">Go!</button>

        </form>
      </div>

   </div>
