.selector {
    min-width: 300px;
    border: 1px solid lightgrey;
    padding: 10px;
    background-color: #efefef;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 999;
}

.fa {
    color: #fff;
}

.nav{
    border-bottom: 0;
    display: inline-block;


    li {
        background-color: rgba(0,0,0,0.5);
        border-radius: 2px;
        border: solid 1px #787;        

        a {
            color: #fff;
            text-transform: uppercase;
            font-size: 80%;
            letter-spacing: 1px;
        }
    }
}



.list-group-item {
    height: 2.5em;

    li {
        background-color: #fefefe;
        border-radius: 2px;
        border: solid 1px #787;        

        a {
            color: #fff;
            text-transform: uppercase;
            font-size: 80%;
            letter-spacing: 1px;
        }
    }
}
